@media screen and (min-width: 428px) {
  .conteiner {
    max-width: 428px;
  }
}
@media screen and (min-width: 768px) {
  .conteiner {
    max-width: 768px;
  }
  .skills-list {
    gap: 24px;
  }
  .skills-item {
    width: calc((100% - 24px) / 2);
  }
}
@media screen and (min-width: 1158px) {
  .conteiner {
    max-width: 1158px;
  }
  .skills {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .skills-list {
    gap: 24px;
  }
  .skills-item {
    width: calc((100% - 24px * 3) / 4);
  }
  .skills-icon {
    display: flex;
  }
}
