:root {
  --main-text-color: #2e2f42;
  --secondary-text-color: #434455;
  --logo-color: #4d5ae5;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #ffffff;
  color: var(--secondary-text-color);
}
.container {
  width: 100%;
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /*outline: 2px solid red;*/
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

/*----------HEADER----------*/
.header {
  padding: 24px 0;
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
.header-navigation {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
}
.header-logo {
  color: var(--logo-color);
  font-size: 18px;
  font-family: var(--secodary-font);
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-right: 76px;
}
.header-logo-studio {
  color: var(--main-text-color);
}
.header-menu {
  display: flex;
  gap: 40px;
}
.header-menu-link {
  color: var(--main-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-menu-link:hover,
.header-menu-link:focus {
  color: #404bbf;
  padding: 24px 0;
}
.current {
  position: relative;
  color: #404bbf;
}
.current::after {
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  content: "";
  position: absolute;
  bottom: -1px;
  align-items: center;
  background-color: #404bbf;
}
.header-address {
  font-style: normal;
  margin-left: auto;
}
.header-address-link {
  color: var(--secondary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address-link:hover,
.header-address-link:focus {
  color: #404bbf;
}
.header-address-list {
  display: flex;
  gap: 40px;
}
/*----------HERO----------*/

.hero {
  max-width: 1440px;
  margin: auto;
  padding-top: 188px;
  padding-bottom: 188px;
  background-color: var(--main-text-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  color: #fff;
  text-align: center;
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
  display: flex;
  max-width: 496px;
  margin: 0 auto;
  margin-bottom: 48px;
}

.hero-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 32px, 16px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #404bbf;
}

/*----------skills----------*/

.skills {
  background-color: #fff;
  padding-top: 120px;
  padding-bottom: 120px;
}
.skills-list {
  display: flex;
  gap: 24px;
}
.skills-item {
  width: calc((100% - 24px * 3) / 4);
}
.skills-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 264px;
  height: 112px;
  flex-shrink: 0;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
}
.skills-title {
  color: var(--main-text-color);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
  margin-top: 8px;
}
.skills-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------Result----------*/
.result {
  background-color: #fff;
  padding-bottom: 120px;
}
.result-item {
  width: calc((100% - 3 * 16px) / 3);
  border: 1px solid var(--cornflower, #e7e9fc);
  background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.result-list {
  display: flex;
  gap: 24px;
}
.result-title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin: 0 auto;
  margin-bottom: 72px;
}

/*----------Team----------*/
.team {
  padding-top: 120px;
  padding-bottom: 120px;
}
.team-item-card {
  padding-top: 32px;
  padding-bottom: 32px;
}
.team-title {
  color: var(--main-text-color);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.team-subtitle {
  color: var(--main-text-color);
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team-text {
  color: var(--secondary-text-color);
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.team {
  background-color: #f4f4fd;
}
.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  width: calc((100%-24 * 3 / 4));
  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
  max-width: 264px;
}
.team-socials-list {
  display: flex;
  gap: 24px;
  justify-content: center;
}
.team-socials-item {
  width: 40px;
  height: 40px;
}
.team-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.team-socials-icon {
  fill: #f4f4fd;
}

.team-socials-link:is(:hover, :focus) {
  background-color: #404bbf;
}

/*----------Customers----------*/

.customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.customers-title {
  display: block;
  color: #2e2f42;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid #8e8f99;
  color: #8e8f99;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.customers-icon {
  fill: currentColor;
}
.customers-link:is(:hover, :focus) {
  border-color: #404bbf;
  color: #404bbf;
}

/*----------Footer----------*/

.footer-conteiner {
  display: flex;
  align-items: baseline;
}
.footer {
  background-color: var(--main-text-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logotext {
  margin-right: 120px;
}
.footer-logo {
  color: #4d5ae5;
  font-size: 18px;
  font-family: Raleway, sans-serif;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  display: inline-block;
  margin-bottom: 16px;
}
.footer-logo-studio {
  color: #f4f4fd;
}
.footer-text {
  color: #f4f4fd;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  min-width: 264px;
}

.footer-social-text {
  display: flex;
  justify-content: flex-start;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.footer-socials-list {
  display: flex;
  gap: 16px;
  justify-content: center;
}
.footer-socials-item {
  width: 40px;
  height: 40px;
}
.footer-socials-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fff;
}
.footer-socials-icon {
  fill: #f4f4fd;
}
.footer-socials-link:is(:hover, :focus) {
  background-color: #31d0aa;
}

.subscribe {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 80px;
}
.subscribe-text {
  display: flex;
  justify-content: flex-start;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.form {
  display: flex;
  gap: 24px;
}
.form-input {
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  width: 264px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  outline: transparent;
}
.form-input:focus {
  border: 1px solid #ffffff;
}
.form-input::placeholder {
  display: flex;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}
.subscribe-socials-icon {
  margin-left: 16px;
  fill: #fff;
}
.subscribe-btn {
  min-width: 165px;
  height: 40px;
  color: #fff;
  text-align: center;
  display: inline-flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  border-color: #4d5ae5;
  background-color: #4d5ae5;
}
.subscribe-btn:hover,
:focus {
  border-color: #4d5ae5;
}

/*----------APPS----------*/
.apps {
  padding-top: 96px;
  padding-bottom: 120px;
}
.apps {
  background-color: #fff;
}
.apps-button-list {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-bottom: 72px;
}
.apps-button-btn {
  color: #4d5ae5;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: inherit;
  font-style: normal;
  cursor: pointer;
  background-color: #f4f4fd;
  padding: 12px 24px;
  border-radius: 4px;
  border: 1px solid #e7e9fc;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.apps-button-btn:hover,
.apps-button-btn:focus {
  background-color: #404bbf;
  color: #fff;
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/*----------Portfolio----------*/

.portfolio-link {
  display: block;
  text-decoration: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-link:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-list {
  flex-wrap: wrap;
  display: flex;
  gap: 48px 24px;
}
.portfolio-item-apps {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}
.portfolio-item {
  width: calc ((100% - 24px * 2) / 3);
}

.portfolio-item:hover .overlay-text {
  transform: translateY(0);
}
.overlay {
  position: relative;
  overflow: hidden;
}
.overlay-text {
  color: #f4f4fd;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  background-color: #4d5ae5;
  font-family: sans-serif;
  position: absolute;
  top: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-title {
  color: var(--main-text-color);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
.portfolio-text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/*----------MODAL----------*/
.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 408px;
  min-height: 584px;
  background-color: #fcfcfc;
  border-radius: 4px;
  position: absolute;
  padding: 72px 24px 24px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
/*.modal:hover,
.modal:focus {
  fill: #ffffff;
}*/
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(5);
}

.modal-close-btn {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: #404bbf;
  border: none;
}
.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal-title {
  color: var(--navyblue, #2e2f42);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
.modal-field {
  margin-bottom: 8px;
  position: relative;
}
.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  color: #48433c;
  background-color: transparent;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: #4d5ae5;
}
.modal-input:focus + .modal-input-icon {
  fill: #4d5ae5;
}
.modal-input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-label {
  display: block;
  color: var(--lightslate, #8e8f99);
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
  letter-spacing: 0.04em;
  margin-bottom: 4px;
}
.modal-comment {
  margin-bottom: 16px;
  position: relative;
}
.modal-textarea {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  color: rgba(46, 47, 66, 0.4);
  background-color: transparent;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-textarea:focus {
  border-color: #4d5ae5;
}
.modal-textarea::placeholder {
  color: var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  font-size: 12px;
  font-weight: 400;
  line-height: 1.16;
  letter-spacing: 0.04em;
}
.modal-form-btn {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: #4d5ae5;
  cursor: pointer;
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  padding: 32px, 16px;
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-btn:hover,
.modal-form-btn:focus {
  background-color: #404bbf;
}
.modal-checkbox {
  margin-bottom: 24px;
  position: relative;
}
.check-text {
  color: #8e8f99;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  display: block;
}
.span-check-icon {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy-link {
  color: #4d5ae5;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.04em;
  text-decoration-line: underline;
}
.check-text span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid var(--navyblue-modal, rgba(46, 47, 66, 0.4));
  margin-right: 8px;
  fill: transparent;
}
.modal-check:checked + .check-text span {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}
